USE [master]
GO
/****** Object:  Database [Cargo]    Script Date: 2.09.2023 13:13:11 ******/
CREATE DATABASE [Cargo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cargo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Cargo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cargo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Cargo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cargo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cargo]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[customerNameSurname] [varchar](50) NULL,
	[customerAdress] [varchar](50) NULL,
	[customerPhone] [varchar](11) NULL,
	[customerMail] [varchar](50) NULL,
	[customerPaymentStatus] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[loginID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[loginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[personelID] [int] IDENTITY(1,1) NOT NULL,
	[personelNameSurname] [varchar](50) NULL,
	[personelTask] [varchar](50) NULL,
	[personelTitle] [varchar](50) NULL,
	[personelPhone] [varchar](11) NULL,
	[personelMail] [varchar](50) NULL,
	[personelSalary] [money] NULL,
 CONSTRAINT [PK_Personel] PRIMARY KEY CLUSTERED 
(
	[personelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipment]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipment](
	[shipmentID] [int] IDENTITY(1,1) NOT NULL,
	[shipmentName] [varchar](50) NULL,
	[shipmentPickupPoint] [varchar](50) NULL,
	[shipmentTransportationPoint] [varchar](50) NULL,
	[shipmentDistance] [int] NULL,
	[shipmentFee] [money] NULL,
	[customerID] [int] NULL,
	[personelID] [int] NULL,
	[vehicleID] [int] NULL,
 CONSTRAINT [PK_Shipment] PRIMARY KEY CLUSTERED 
(
	[shipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[vehicleID] [int] IDENTITY(1,1) NOT NULL,
	[vehicleName] [varchar](50) NULL,
	[vehicleCapacity] [varchar](50) NULL,
	[vehicleDriver] [varchar](50) NULL,
	[vehicleExpense] [money] NULL,
 CONSTRAINT [PK_Vehicle] PRIMARY KEY CLUSTERED 
(
	[vehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customerID], [customerNameSurname], [customerAdress], [customerPhone], [customerMail], [customerPaymentStatus]) VALUES (1, N'fadslah', N'lhfdsahla', N'05335423', N'asklfhsadkj', N'sdfajkdl')
INSERT [dbo].[Customer] ([customerID], [customerNameSurname], [customerAdress], [customerPhone], [customerMail], [customerPaymentStatus]) VALUES (2, N'fdsalkasdg', N'kljdfsgaklgadksf', N'0534234', N'asd', N'dfs')
INSERT [dbo].[Customer] ([customerID], [customerNameSurname], [customerAdress], [customerPhone], [customerMail], [customerPaymentStatus]) VALUES (3, N'sdfaasjl', N'kjldfsaglkasd', N'05343', N'dfaas', N'fdsafd')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([loginID], [username], [password]) VALUES (1, N'admin', N'1234')
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
SET IDENTITY_INSERT [dbo].[Personel] ON 

INSERT [dbo].[Personel] ([personelID], [personelNameSurname], [personelTask], [personelTitle], [personelPhone], [personelMail], [personelSalary]) VALUES (1, N'fdajsklga', N'fadksljlk', N'fasjdkl', N'053423', N'fdsa', 324234.0000)
INSERT [dbo].[Personel] ([personelID], [personelNameSurname], [personelTask], [personelTitle], [personelPhone], [personelMail], [personelSalary]) VALUES (2, N'fsdaklj', N'kdlfsqk', N'dfsak', N'05343', N'fsda', 3413.0000)
INSERT [dbo].[Personel] ([personelID], [personelNameSurname], [personelTask], [personelTitle], [personelPhone], [personelMail], [personelSalary]) VALUES (3, N'fdksja', N'fdjkgsa', N'fdksjag', N'0534243', N'sadfad', 23523.0000)
SET IDENTITY_INSERT [dbo].[Personel] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipment] ON 

INSERT [dbo].[Shipment] ([shipmentID], [shipmentName], [shipmentPickupPoint], [shipmentTransportationPoint], [shipmentDistance], [shipmentFee], [customerID], [personelID], [vehicleID]) VALUES (1, N'sdfa', N'fdsa', N'fdsa', 342, 13483.0000, 1, 1, 1)
INSERT [dbo].[Shipment] ([shipmentID], [shipmentName], [shipmentPickupPoint], [shipmentTransportationPoint], [shipmentDistance], [shipmentFee], [customerID], [personelID], [vehicleID]) VALUES (2, N'fdask', N'fkgdsakjh', N'fdgksjds', 324, 1343.0000, 2, 1, 3)
INSERT [dbo].[Shipment] ([shipmentID], [shipmentName], [shipmentPickupPoint], [shipmentTransportationPoint], [shipmentDistance], [shipmentFee], [customerID], [personelID], [vehicleID]) VALUES (3, N'fda', N'fsda', N'sdfa', 23, 423423.0000, 3, 2, 1)
SET IDENTITY_INSERT [dbo].[Shipment] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([vehicleID], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense]) VALUES (1, N'sfda', N'fdsa', N'fdsa', 13413.0000)
INSERT [dbo].[Vehicle] ([vehicleID], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense]) VALUES (2, N'fdsa', N'fdsaa', N'fdsa', 34252.0000)
INSERT [dbo].[Vehicle] ([vehicleID], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense]) VALUES (3, N'fdsa', N'fdsa', N'fdsa', 54254.0000)
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
ALTER TABLE [dbo].[Shipment]  WITH CHECK ADD  CONSTRAINT [FK_Shipment_Customer] FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[Shipment] CHECK CONSTRAINT [FK_Shipment_Customer]
GO
ALTER TABLE [dbo].[Shipment]  WITH CHECK ADD  CONSTRAINT [FK_Shipment_Personel] FOREIGN KEY([personelID])
REFERENCES [dbo].[Personel] ([personelID])
GO
ALTER TABLE [dbo].[Shipment] CHECK CONSTRAINT [FK_Shipment_Personel]
GO
ALTER TABLE [dbo].[Shipment]  WITH CHECK ADD  CONSTRAINT [FK_Shipment_Vehicle] FOREIGN KEY([vehicleID])
REFERENCES [dbo].[Vehicle] ([vehicleID])
GO
ALTER TABLE [dbo].[Shipment] CHECK CONSTRAINT [FK_Shipment_Vehicle]
GO
/****** Object:  StoredProcedure [dbo].[CustomerAdd]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CustomerAdd]
@customerNameSurname varchar(50),
@customerAdress varchar(50),
@customerPhone varchar(11),
@customerMail varchar(50),
@customerPaymentStatus varchar(50)
as begin
insert into Customer([customerNameSurname],[customerAdress],[customerPhone],[customerMail],[customerPaymentStatus])values(@customerNameSurname,@customerAdress,@customerPhone,@customerMail,@customerPaymentStatus)
end
GO
/****** Object:  StoredProcedure [dbo].[CustomerDel]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CustomerDel]
@customerID int
as begin
delete from Customer where customerID=@customerID
end
GO
/****** Object:  StoredProcedure [dbo].[CustomerList]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CustomerList]
as begin
select * from Customer
end
GO
/****** Object:  StoredProcedure [dbo].[CustomerSearch]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CustomerSearch]
@customerNameSurname varchar(50)
as begin
select * from Customer where customerNameSurname like '%'+@customerNameSurname+'%'
end
GO
/****** Object:  StoredProcedure [dbo].[CustomerUpdate]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CustomerUpdate]
@customerID int,
@customerNameSurname varchar(50),
@customerAdress varchar(50),
@customerPhone varchar(11),
@customerMail varchar(50),
@customerPaymentStatus varchar(50)
as begin
update Customer set customerNameSurname=@customerNameSurname,customerAdress=@customerAdress,customerPhone=@customerPhone,customerMail=@customerMail,customerPaymentStatus=@customerPaymentStatus where customerID=@customerID
end
GO
/****** Object:  StoredProcedure [dbo].[PersonelAdd]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PersonelAdd]
@personelNameSurname varchar(50),
@personelTask varchar(50),
@personelTitle varchar(50),
@personelPhone varchar(11),
@personelMail varchar(50),
@personelSalary money
as begin
insert into Personel([personelNameSurname],[personelTask],[personelTitle],[personelPhone],[personelMail],[personelSalary])values(@personelNameSurname,@personelTask,@personelTitle,@personelPhone,@personelMail,@personelSalary)
end
GO
/****** Object:  StoredProcedure [dbo].[PersonelList]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PersonelList]
as begin
select * from Personel
end
GO
/****** Object:  StoredProcedure [dbo].[PersonelSearch]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PersonelSearch]
@personelNameSurname varchar(50)
as begin
select * from Personel where personelNameSurname like '%'+@personelNameSurname+'%'
end
GO
/****** Object:  StoredProcedure [dbo].[PersonelUpdate]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PersonelUpdate]
@personelID int,
@personelNameSurname varchar(50),
@personelTask varchar(50),
@personelTitle varchar(50),
@personelPhone varchar(11),
@personelMail varchar(50),
@personelSalary money
as begin
update Personel set personelNameSurname=@personelNameSurname,personelTask=@personelTask,personelTitle=@personelTitle,personelPhone=@personelPhone,personelMail=@personelMail,personelSalary=@personelSalary where personelID=@personelID
end
GO
/****** Object:  StoredProcedure [dbo].[ShipmentAdd]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ShipmentAdd]
@shipmentName varchar(50),
@shipmentPickupPoint varchar(50),
@shipmentTransportationPoint varchar(50),
@shipmentDistance int,
@shipmentFee money,
@customerID int,
@personelID int,
@vehicleID int
as begin
insert into Shipment([shipmentName],[shipmentPickupPoint],[shipmentTransportationPoint],[shipmentDistance],[shipmentFee],[customerID],[personelID],[vehicleID])values(@shipmentName,@shipmentPickupPoint,@shipmentTransportationPoint,@shipmentDistance,@shipmentFee,@customerID,@personelID,@vehicleID)
end
GO
/****** Object:  StoredProcedure [dbo].[ShipmentDel]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ShipmentDel]
@shipmentID int
as begin
delete from Shipment where shipmentID=@shipmentID
end
GO
/****** Object:  StoredProcedure [dbo].[ShipmentList]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ShipmentList]
as begin
select * from Shipment
end
GO
/****** Object:  StoredProcedure [dbo].[ShipmentSearch]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ShipmentSearch]
@shipmentName varchar(50)
as begin
select * from Shipment where shipmentName like '%'+@shipmentName+'%'
end
GO
/****** Object:  StoredProcedure [dbo].[ShipmentUpdate]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ShipmentUpdate]
@shipmentID int,
@shipmentName varchar(50),
@shipmentPickupPoint varchar(50),
@shipmentTransportationPoint varchar(50),
@shipmentDistance int,
@shipmentFee money,
@customerID int,
@personelID int,
@vehicleID int
as begin
update Shipment set shipmentName=@shipmentName,shipmentPickupPoint=@shipmentPickupPoint,shipmentTransportationPoint=@shipmentTransportationPoint,shipmentDistance=@shipmentDistance,shipmentFee=@shipmentFee,customerID=@customerID,personelID=@personelID,vehicleID=@vehicleID where shipmentID=@shipmentID
end
GO
/****** Object:  StoredProcedure [dbo].[VehicleAdd]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[VehicleAdd]
@vehicleName varchar(50),
@vehicleCapacity varchar(50),
@vehicleDriver varchar(50),
@vehicleExpense money
as begin
insert into Vehicle([vehicleName],[vehicleCapacity],[vehicleDriver],[vehicleExpense])values(@vehicleName,@vehicleCapacity,@vehicleDriver,@vehicleExpense)
end
GO
/****** Object:  StoredProcedure [dbo].[VehicleList]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[VehicleList]
as begin
select * from Vehicle
end
GO
/****** Object:  StoredProcedure [dbo].[VehicleSearch]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[VehicleSearch]
@vehicleName varchar(50)
as begin
select * from Vehicle where vehicleName like '%'+@vehicleName+'%'
end
GO
/****** Object:  StoredProcedure [dbo].[VehicleUpdate]    Script Date: 2.09.2023 13:13:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[VehicleUpdate]
@vehicleID int,
@vehicleName varchar(50),
@vehicleCapacity varchar(50),
@vehicleDriver varchar(50),
@vehicleExpense money
as begin
update Vehicle set vehicleName=@vehicleName,vehicleCapacity=@vehicleCapacity,vehicleDriver=@vehicleDriver,vehicleExpense=@vehicleExpense where vehicleID=@vehicleID
end
GO
USE [master]
GO
